

.round_border {
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	border-width: 2px;
	border-color:black;
	border-style:solid;
}

.bullets {
    margin-top:5px;
    font: 16px Arial;
    color: #777777;
    font-style:italic;
}

.label {
    font: 13px Arial;
    color: #777777;
    font-weight:bold;
}

.title {
    font-weight:bold;
    font: 18px Arial;
}

.zebcanvas {
    border: 2px solid black;
    backgroundColor:#777777;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select:
    -moz-none;
    -o-user-select: none;
    user-select: none;
}