
table {
    background:black;
}

.round_border {
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	border-width: 3px;
	border-color:gray;
	border-style:solid;
}

.bullets {
    margin-top:5px;
    font: 12px Arial; 
    color: #DDDDDD; 
    font-style:italic;
}

.label {
    font: 13px Arial; 
    color: #DDDDDD; 
    font-weight:bold;
}

.title {
    -moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	border-width: 3px;
	border-color:#A50000;
	border-style:solid;
	
    background:#A50000;
    color:#CCCCCC;
    font-weight:bold; 
    font: 15px Verdana;
}

.zebracanvas {
    border: 1px solid black; 
    background-color:black; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: 
    -moz-none; 
    -o-user-select: none; 
    user-select: none;
}