<!DOCTYPE html>
<html lang="en-us">

  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="viewport"
       content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="msapplication-tap-highlight" content="no">


    <title>
        
          UI Component &middot; Zebkit - UI platform
        
    </title>

  <!-- CSS -->


    <link rel="stylesheet" href="/website/dark/public/css/poole-dark.css">
    <link rel="stylesheet" href="/website/dark/public/css/syntax-dark.css">
    <link rel="stylesheet" href="/website/dark/public/css/main-dark.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=EB+Garamond">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/website/dark/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/website/dark/public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <script type="text/javascript" src="/build/zebkit.js?11072017">  </script>

    <script type="text/javascript">
        zebkit.ui.config("theme", "dark");
    </script>
</head>



  <body>

    <div class="sidebar" style="padding: 0px;   border-right: 1px solid orange" >
    <div class="container sidebar-sticky" style="padding: 0px; margin: 0px;">
        <table style="height:100%;border-width: 0px; border-color: #151515;">
            <tr>
                <td colspan="2" align="center" style="border-width: 0px; margin: 0px; padding: 0px;">
                
                    <a href="../light/docs.ui.component.html">
                        <img style="margin: 0px; padding: 0px;" src="/website/dark/public/images/zebkit.logo.png" width="60%">
                    </a>
                

                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-width: 0px;">
                    <p style="margin:0px; font-style: italic;"><b style='color:orange; font-size:1.5rem;'>Zebkit</b> is HTML5 Canvas based UI platform developed with unique EasyOOP JavaScript concept and rich extendible components set</p>
                </td>
            </tr>

            <tr style="height:100%;" valign="top" align="right">
                <td colspan="2" style="border-width: 0px;">
                    
                    
                        
                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item "
                               href="/website/dark/about.html">
                                Zebkit ?
                            </a>


                        
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                        


                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item "
                               href="/website/dark/api.html">
                                API Doc
                            </a>


                        


                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item active"
                               href="/website/dark/docs.html">
                                Documentation
                            </a>


                        
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                        
                            
                                
                                    <a class="sidebar-nav-item active"
                                       href="/website/dark/docs.ui.component.html">
                                        <table cellpadding="0" cellspacing="0" style="padding: 0px;width:auto;margin:0px;">
                                       <!--
                                            <tr>
                                                <td colspan="2" style="padding: 0px;" align="right">
                                                    ┃
                                                </td>
                                            </tr>
                                        -->
                                            <tr>
                                                <td style="padding: 0px;">
                                                     UI Component
                                                </td>
                                                <td style="padding: 0px;">
                                                   &nbsp;◀┛&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                                
                            
                        
                            
                        
                            
                        
                        


                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item "
                               href="/website/dark/getstarted.html">
                                Get started
                            </a>


                        


                        
                        
                    
                </td>
            </tr>

            <tr style="height:90px;">
                <td colspan="2"  style="border-width: 0px;padding: 0px;"></td>
            </tr>

            <tr>
                <td align="right" colspan="2" style="border-width: 0px; border-top: 1px solid orange;">
                    <small><a href="mailto:ask@zebkit.org">Andrei Vishneuski (c), 2017</a></small>
                </td>
            </tr>

            <tr>
                <td colspan="2" valign="top" align="right" style="border-width: 0px;padding: 0px;">
                    <table style="width:240px;border-width: 0px; padding: 0px;" cellpadding="0" cellspacing="0">
                        <tr style="padding: 0px;" border="1">
                            <td style="width:60px;border-width: 0px;" align="right">
                                <a href="https://github.com/barmalei/zebkit" title="Download">
                                    <img alt="Download" title="Download" src="/website/dark/public/images/github3.png" width="40px" height="40px">
                                </a>
                            </td>
                            <td style="width:60px; border-width: 0px;" align="right">
                                <a href="https://twitter.com/zebkit">
                                    <img src="/website/dark/public/images/twitter.png" width="40px" height="40px">
                                </a>
                            </td>
                            <td style="width:60px; border-width: 0px;" align="right">
                                <a href="https://nl.linkedin.com/in/andrei-vishneuski-34b52514">
                                    <img src="/website/dark/public/images/linkedin.png" width="40px" height="40px">
                                </a>
                            </td>

                            <td style="width: 70px; border-width: 0px; " valign="center" align="right">
                                <a href="../build/zebkit.runtime.zip">
                                    <img src="/website/dark/public/images/download-dark.png" width="40px" height="40px">
                                </a>
                            </td>

                        </tr>
                    </table>
                </td>

            </tr>

        </table>

    <nav class="sidebar-nav">

<!--
      <a class="sidebar-nav-item" href="/website/dark/">Home</a>
 -->

    </nav>

  </div>
</div>

    <div class="content container">
      <div class="page">

    

    <h2 id="zebkituipanel">zebkit.ui.Panel</h2>

<div class="highlighter-rouge"><pre class="highlight"><code>                zebkit.layout.Layoutable 
                          |
                    zebkit.ui.Panel
                          |
        +-----------------+-----------+--------------+  
        |                             |              |
zebkit.ui.web.HTMLElement      zebkit.ui.Button    Many others
                                                zebkit UI components  
</code></pre>
</div>

<p>Zebkit UI components are instances of <strong>“zebkit.ui.Panel”</strong> class. The class unifies UI components with common API, events handling, metrics and behavior. <strong>“zebkit.ui.Panel”</strong> class provides the following main UI component possibilities and features:</p>

<ul>
  <li><strong>Container</strong> Panel is a container that can host other zebkit UI components as its child components. The child components are ordered inside the container with a layout manager the container is set. In most cases zebkit UI applications are multi-levels hierarchy of various UI components that are ordered with different layout manages:</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>    <span class="nx">zebkit</span><span class="p">.</span><span class="nx">require</span><span class="p">(</span><span class="s2">"ui"</span><span class="p">,</span> <span class="s2">"layout"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">ui</span><span class="p">,</span> <span class="nx">layout</span><span class="p">)</span> <span class="p">{</span>
        <span class="p">...</span>
        <span class="c1">// create panel with border layout manager</span>
        <span class="kd">var</span> <span class="nx">panel</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Panel</span><span class="p">(</span><span class="k">new</span> <span class="nx">layout</span><span class="p">.</span><span class="nx">BorderLayout</span><span class="p">());</span>
        <span class="c1">// add button component at the top part of the container</span>
        <span class="nx">panel</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s2">"top"</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Button</span><span class="p">(</span><span class="s2">"Button"</span><span class="p">));</span>
        <span class="c1">// add text area component to occupy central part of the </span>
        <span class="c1">// container</span>
        <span class="nx">panel</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s2">"center"</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">TextArea</span><span class="p">(</span><span class="s2">"Text area"</span><span class="p">));</span>
        <span class="p">...</span>
    <span class="p">});</span>
</code></pre>
</div>

<ul>
  <li><strong>Rendering</strong> Panel participates in zebkit UI application rendering process. By overriding appropriate panel method(s) - <strong>“paint(g)”</strong> or/and <strong>“update(g)”</strong> or/and <strong>“paintOnTop(g)”</strong> - developers can paint desired visual content using passed 2D graphical context:</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>    <span class="nx">zebkit</span><span class="p">.</span><span class="nx">require</span><span class="p">(</span><span class="s2">"ui"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">ui</span><span class="p">)</span> <span class="p">{</span>
        <span class="p">...</span>
        <span class="c1">// instantiate anonymous panel class that implements </span>
        <span class="c1">// "paint(g)" method to draw red circle in the panel </span>
        <span class="kd">var</span> <span class="nx">panel</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Panel</span><span class="p">([</span>
            <span class="kd">function</span> <span class="nx">paint</span><span class="p">(</span><span class="nx">g</span><span class="p">)</span> <span class="p">{</span>
                <span class="nx">g</span><span class="p">.</span><span class="nx">setColor</span><span class="p">(</span><span class="s2">"red"</span><span class="p">);</span>
                <span class="nx">g</span><span class="p">.</span><span class="nx">beginPath</span><span class="p">();</span>
                <span class="nx">g</span><span class="p">.</span><span class="nx">arc</span><span class="p">(</span><span class="nb">Math</span><span class="p">.</span><span class="nx">floor</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">width</span>  <span class="o">/</span> <span class="mi">2</span><span class="p">),</span>
                      <span class="nb">Math</span><span class="p">.</span><span class="nx">floor</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">height</span> <span class="o">/</span> <span class="mi">2</span><span class="p">),</span>
                      <span class="nb">Math</span><span class="p">.</span><span class="nx">floor</span><span class="p">((</span><span class="k">this</span><span class="p">.</span><span class="nx">width</span><span class="o">-</span><span class="mi">1</span><span class="p">)</span><span class="o">/</span><span class="mi">2</span><span class="p">),</span><span class="mi">0</span><span class="p">,</span><span class="mi">2</span><span class="o">*</span><span class="nb">Math</span><span class="p">.</span><span class="nx">PI</span><span class="p">,</span><span class="kc">false</span><span class="p">);</span>
                <span class="nx">g</span><span class="p">.</span><span class="nx">closePath</span><span class="p">();</span>
                <span class="nx">g</span><span class="p">.</span><span class="nx">fill</span><span class="p">();</span>
            <span class="p">}</span>
        <span class="p">]);</span>
        <span class="p">...</span>
    <span class="p">});</span>
</code></pre>
</div>

<ul>
  <li><strong>Input events handling</strong> Panel is designed to catch number of input events via implementing appropriate events handler methods (<strong>pointerPressed(e)</strong>, <strong>“pointerReleased(e)”</strong>, <strong>“keyPressed(e)”</strong> and many others).</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>    <span class="nx">zebkit</span><span class="p">.</span><span class="nx">require</span><span class="p">(</span><span class="s2">"ui"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">ui</span><span class="p">)</span> <span class="p">{</span>
        <span class="p">...</span>
        <span class="c1">// Handle pointer entered and exited events</span>
        <span class="kd">var</span> <span class="nx">panel</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Panel</span><span class="p">([</span>
            <span class="kd">function</span> <span class="nx">pointerEntered</span><span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
                <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">"Pointer is in the panel"</span><span class="p">);</span>
            <span class="p">},</span>

            <span class="kd">function</span> <span class="nx">pointerExited</span><span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
                <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s2">"Pointer is out of the panel"</span><span class="p">);</span>
            <span class="p">}</span>
        <span class="p">]);</span>
        <span class="p">...</span>
    <span class="p">});</span>
</code></pre>
</div>

<h2 id="placing-ui-hierarchy">Placing UI hierarchy</h2>

<p>Zebkit UI components framework utilizes HTML5 Canvas as a target surface to render UI components hierarchy (theoretically zebkit can be adapted to any Canvas-like surface). The surface is abstracted with <strong>“zebkit.ui.zCanvas”</strong> class that as any other UI component, inherits <strong>“zebkit.ui.Panel”</strong>. zCanvas is the destination to place an UI hierarchy. To do it follow the steps listed below:</p>

<ul>
  <li>
    <p><strong>Instantiate “zebkit.ui.zCanvas” class.</strong> Depending on arguments that have been passed the canvas instance sticks to an existing DOM HTML5 Canvas element or creates a new one in the DOM tree.</p>
  </li>
  <li>
    <p><strong>Put UI hierarchy into zCanvas “root” layer.</strong> zCanvas has layered structure. As a container (<strong>zebkit.ui.Panel</strong>) it hosts number if child layers designed for different purposes (showing pop-up, windows, etc). It is expected “root” layer has to be used for placing zebkit UI components hierarchy.</p>
  </li>
</ul>

<p>For example:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="nx">zebkit</span><span class="p">.</span><span class="nx">require</span><span class="p">(</span><span class="s2">"ui"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">ui</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// create HTML Canvas element where zebkit UI to host</span>
    <span class="c1">// zebkit UI components hierarchy </span>
    <span class="kd">var</span> <span class="nx">htmlCanvas</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">zCanvas</span><span class="p">(</span><span class="mi">500</span><span class="p">,</span> <span class="mi">400</span><span class="p">);</span>

    <span class="c1">// to place UI components use root layer of </span>
    <span class="c1">// created HTML canvas</span>
    <span class="kd">var</span> <span class="nx">root</span> <span class="o">=</span> <span class="nx">htmlCanvas</span><span class="p">.</span><span class="nx">root</span><span class="p">;</span>

    <span class="c1">// everything has to be ordered with rules</span>
    <span class="c1">// so specify layout manager </span>
    <span class="nx">root</span><span class="p">.</span><span class="nx">setBorderLayout</span><span class="p">(</span><span class="mi">8</span><span class="p">);</span>

    <span class="c1">// add button zebkit component</span>
    <span class="nx">root</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s2">"bottom"</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Button</span><span class="p">(</span><span class="s2">"Hello zebkit"</span><span class="p">));</span>    
    <span class="p">...</span>
</code></pre>
</div>

<h2 id="simple-zebkit-application">Simple zebkit application</h2>

<p>Find below a simple zebkit application that builds the following UI components hierarchy:</p>

<table>
<tr><td>

      <div class="highlighter-rouge"><pre class="highlight"><code><span class="c"># HTML5 Canvas surface</span>
zebkit.ui.zCanvas 
  +-root  <span class="c"># root layer </span>
     |
     +-zebkit.ui.Panel 
        |   <span class="o">(</span>blue<span class="o">)</span>
        |
        +- zebkit.ui.Label 
        |   <span class="o">(</span><span class="s2">"Test Label"</span><span class="o">)</span>
        |
        +- zebkit.ui.Button 
        |   <span class="o">(</span><span class="s2">"Button"</span><span class="o">)</span>
        |
        +- zebkit.ui.Panel 
            | <span class="o">(</span>orange<span class="o">)</span>
            |
            +-zebkit.ui.TextField
             <span class="o">(</span><span class="s2">"Text Field"</span><span class="o">)</span>
</code></pre>
      </div>

    </td><td>


<table class="zsample" style="margin:0px;" cellpadding="0" cellspacing="0">
    <tr style="padding: 0px;margin: 0px;">
        <td valign="top" rowspan="2" style="left-padding: 8px; margin: 0px;">
            
        </td>
        <td align="center" valign="center" style="padding: 0px; margin: 0px;">
            <canvas id="layoutSample" style="padding: 0px; margin: 0px;"></canvas>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px; margin:0px;">
            <span style="color:red;font-size:14px;">Components hierarchy </span>
        </td>
    </tr>
</table>
                
</td></tr>
</table>

<script type="text/javascript">
zebkit.require("ui","layout","draw",function(ui,layout,draw) {
    var root = new ui.zCanvas("layoutSample", 300, 420).root;
    root.properties({
        layout: new layout.BorderLayout(),
        kids  : {
            "center": new ui.Panel({
                border: new draw.Border("white", 2),
                bounds: [10,10, 380, 280],
                background: "#3F76AA",
                kids: [
                    new ui.Label("Test Label").properties({
                        color: "white",
                        font: "bold",
                        bounds: [10, 10, 360, 50]
                    }),
                    new ui.Button("Button").setBounds(10,60,270,50),
                    new ui.Panel({
                        bounds: [10, 120, 280, 270],
                        background: "orange",
                        kids: [
                            new ui.TextField("Text Field")
                            .setBounds(10, 10, 250, 30)
                            .toPreferredHeight()
                            .setBorder(new draw.Border("white"))  
                        ]
                    })
                ]
            })
        }
    });
});
</script>

<p>The application code is shown below:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="nx">zebkit</span><span class="p">.</span><span class="nx">require</span><span class="p">(</span><span class="s2">"ui"</span><span class="p">,</span><span class="s2">"layout"</span><span class="p">,</span><span class="s2">"draw"</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">ui</span><span class="p">,</span><span class="nx">layout</span><span class="p">,</span><span class="nx">draw</span><span class="p">)</span> <span class="p">{</span>
    <span class="p">(</span><span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">zCanvas</span><span class="p">(</span><span class="s2">"layoutSample"</span><span class="p">,</span> <span class="mi">300</span><span class="p">,</span> <span class="mi">420</span><span class="p">)).</span><span class="nx">root</span><span class="p">.</span><span class="nx">properties</span><span class="p">({</span>
        <span class="na">layout</span><span class="p">:</span> <span class="k">new</span> <span class="nx">layout</span><span class="p">.</span><span class="nx">BorderLayout</span><span class="p">(),</span>
        <span class="na">kids</span>  <span class="p">:</span> <span class="p">{</span>
            <span class="s2">"center"</span><span class="p">:</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Panel</span><span class="p">({</span>
                <span class="na">border</span><span class="p">:</span> <span class="k">new</span> <span class="nx">draw</span><span class="p">.</span><span class="nx">Border</span><span class="p">(</span><span class="s2">"white"</span><span class="p">,</span> <span class="mi">2</span><span class="p">),</span>
                <span class="na">bounds</span><span class="p">:</span> <span class="p">[</span><span class="mi">10</span><span class="p">,</span><span class="mi">10</span><span class="p">,</span> <span class="mi">380</span><span class="p">,</span> <span class="mi">280</span><span class="p">],</span>
                <span class="na">background</span><span class="p">:</span> <span class="s2">"#3F76AA"</span><span class="p">,</span>
                <span class="na">kids</span><span class="p">:</span> <span class="p">[</span>
                    <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Label</span><span class="p">(</span><span class="s2">"Test Label"</span><span class="p">).</span><span class="nx">properties</span><span class="p">({</span>
                        <span class="na">color</span><span class="p">:</span> <span class="s2">"white"</span><span class="p">,</span>
                        <span class="na">font</span><span class="p">:</span> <span class="s2">"bold"</span><span class="p">,</span>
                        <span class="na">bounds</span><span class="p">:</span> <span class="p">[</span><span class="mi">10</span><span class="p">,</span> <span class="mi">10</span><span class="p">,</span> <span class="mi">360</span><span class="p">,</span> <span class="mi">50</span><span class="p">]</span>
                    <span class="p">}),</span>
                    <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Button</span><span class="p">(</span><span class="s2">"Button"</span><span class="p">).</span><span class="nx">setBounds</span><span class="p">(</span><span class="mi">10</span><span class="p">,</span><span class="mi">60</span><span class="p">,</span><span class="mi">270</span><span class="p">,</span><span class="mi">50</span><span class="p">),</span>
                    <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Panel</span><span class="p">({</span>
                        <span class="na">bounds</span><span class="p">:</span> <span class="p">[</span><span class="mi">10</span><span class="p">,</span> <span class="mi">120</span><span class="p">,</span> <span class="mi">280</span><span class="p">,</span> <span class="mi">270</span><span class="p">],</span>
                        <span class="na">background</span><span class="p">:</span> <span class="s2">"orange"</span><span class="p">,</span>
                        <span class="na">kids</span><span class="p">:</span> <span class="p">[</span>
                            <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">TextField</span><span class="p">(</span><span class="s2">"Text Field"</span><span class="p">)</span>
                            <span class="p">.</span><span class="nx">setBounds</span><span class="p">(</span><span class="mi">10</span><span class="p">,</span> <span class="mi">10</span><span class="p">,</span> <span class="mi">250</span><span class="p">,</span> <span class="mi">30</span><span class="p">)</span>
                            <span class="p">.</span><span class="nx">toPreferredHeight</span><span class="p">()</span>
                            <span class="p">.</span><span class="nx">setBorder</span><span class="p">(</span><span class="k">new</span> <span class="nx">draw</span><span class="p">.</span><span class="nx">Border</span><span class="p">(</span><span class="s2">"white"</span><span class="p">))</span>  
                        <span class="p">]</span>
                    <span class="p">})</span>
                <span class="p">]</span>
            <span class="p">})</span>
        <span class="p">}</span>
    <span class="p">});</span>
<span class="p">});</span>
</code></pre>
</div>

<h2 id="ui-container-api">UI container API</h2>

<p>It has been mentioned many times zebkit UI is organized as a multi-level hierarchy of various UI components. To manage the hierarchy UI component API provides the following methods and fields:</p>

<table class="info">
<tr><th>Method or field</th><th>Description</th></tr>

<tr><td>
      <p><strong>UI hierarchy fields</strong>:<br />
<em>parent</em>, <em>kids</em></p>
    </td><td>
References to a parent component (parent) and array of child components (kids) 
</td></tr>

<tr><td>
      <p><strong>Insertion API</strong>:<br />
<em>add([constraints],component)</em><br /> 
<em>setAt(index,component)</em><br /> 
<em>setByConstraints(constraints,component)</em><br /> 
<em>insert(index,constraints,component)</em></p>
    </td><td>
Add, insert, re-set a child component. 
</td></tr>

<tr><td>
      <p><strong>Removal API</strong>:<br /> 
<em>removeAt(index)</em><br />
<em>remove(comp)</em><br />
<em>removeAll()</em><br />
<em>removeMe()</em></p>
    </td><td> 
Remove child component by child component index, by passed child component instance, all children or the given component.
</td></tr>

<tr><td>
      <p><strong>Layout API</strong>:<br /> 
<em>layout</em><br />
<em>constraints</em><br />
<em>byConstraints(ctr)</em><br />
<em>setLayout(ctr)</em></p>
    </td><td> 
Setup layout manager, find child components by its constraints.
</td></tr>

</table>

<p>UI component defines a layout manager to order its child components. Layout manager is special class that:</p>

<ul>
  <li>
    <p>inherits <strong>“zebkit.layout.Layout”</strong> interface</p>
  </li>
  <li>
    <p>Implement <strong>“calcPreferredSize(comp)”</strong> method to calculate component “pure” preferred size (the size that does not take in account border and padding gaps)</p>
  </li>
  <li>
    <p>Implement <strong>“doLayout(comp)”</strong> method that knows how to place child components basing on some rules</p>
  </li>
</ul>

<p>Layout manager is mandatory. If an UI component has not defined a layout manager a default one is taken. The default layout manager doesn’t have any special rules to order child components. Actually it does nothing, what means defined with a child component size and coordinates (“x”, “y”, “width”, “height”) will have effect.</p>

<p>For more details consult “zebkit.ui.Panel” API documentation.</p>

<h2 id="traveling-over-ui-components-hierarchy">Traveling over UI components hierarchy</h2>

<p>Finding components in an UI hierarchy is implemented with “<strong>byPath(…)</strong>” method that is a part of panel API. The method gets two parameters:</p>

<ul>
  <li><strong>XPath like</strong> simplified expression</li>
  <li><strong>Call back</strong> method that is called every time a new component in the traversing hierarchy matches the given expression</li>
</ul>

<p>The XPath like expression has to satisfy number of requirements:</p>

<ul>
  <li>Has to start with one of the following characters combination:
    <ul>
      <li><strong>”.”</strong>  to include current component in traversing. “//” or “/” have to follow <strong>”.”</strong>.</li>
      <li><strong>”/”</strong>  to include all immediate child components in traversing</li>
      <li><strong>”//”</strong> to include all child components on all levels in traversing</li>
    </ul>
  </li>
  <li>Has to define path part after <strong>”/”</strong> or <strong>”//”</strong>. The path part van be one of the following:
    <ul>
      <li>A component class name (e.g. “zebkit.ui.Label”) to match components of the specified class</li>
      <li>A component class name with <strong>”~”</strong> prefix (e.g. “~zebkit.ui.Label”) to match components that are instance of the class</li>
      <li><strong>“*“</strong> to match any component</li>
    </ul>
  </li>
  <li>Can contain number of path parts delimited with “/” or “//”</li>
</ul>

<p>Let’s imagine we have the following UI hierarchy:</p>

<div class="highlighter-rouge"><pre class="highlight"><code>zcan <span class="o">(</span><span class="s2">"zebkit.ui.zCanvas"</span><span class="o">)</span>
  |
  +-- root <span class="o">(</span><span class="s2">"zebkit.ui.Panel"</span><span class="o">)</span>
       +-- pan1 <span class="o">(</span><span class="s2">"zebkit.ui.Panel"</span><span class="o">)</span>
       |     | 
       |     +-- lab1 <span class="o">(</span><span class="s2">"zebkit.ui.Label"</span><span class="o">)</span>
       |     +-- tf1  <span class="o">(</span><span class="s2">"zebkit.ui.TextField"</span><span class="o">)</span>
       |
       +-- pan2 <span class="o">(</span><span class="s2">"zebkit.ui.Panel"</span><span class="o">)</span>
             | 
             +-- ta1 <span class="o">(</span><span class="s2">"zebkit.ui.TextArea"</span><span class="o">)</span>
             +-- bt1 <span class="o">(</span><span class="s2">"zebkit.ui.Button"</span><span class="o">)</span>  
</code></pre>
</div>

<p>Then examples of path expressions and traversing results are shown in the table below:</p>
<table class="info">
<tr><th>
Path
</th><th>
Result    
</th></tr>

<tr><td>
      <p><em>zcan.byPath(“//*”, callback)</em></p>
    </td><td>
root, pan1, lab1, tf1, pan2, ta1, bt1    
</td></tr>

<tr><td>
      <p><em>zcan.byPath(“/*”, callback)</em></p>
    </td><td>
root    
</td></tr>

<tr><td>
      <p><em>zcan.byPath(“./zebkit.ui.Panel”, callback)</em></p>
    </td><td>
zcan, root    
</td></tr>

<tr><td>
      <p><em>zcan.byPath(“//zebkit.ui.Label”, callback)</em></p>
    </td><td>
lab1
</td></tr>

<tr><td>
      <p><em>zcan.byPath(“//~zebkit.ui.Label”, callback)</em></p>
    </td><td>
lab1, tf1, ta1<br />(since tf1 and ta1 are instances<br />of "zebkit.ui.Label" class)
</td></tr>

<tr><td>
      <p><em>zcan.byPath(“/*/*“,callback)</em></p>
    </td><td>
pan1, pan2
</td></tr>

<tr><td>
      <p><em>pan1.byPath(“./*“,callback)</em></p>
    </td><td>
pan1, lab1, tf1
</td></tr>

</table>

<p>It is possible to use id shortcut path to find a component by its id (if the id has been set with <strong>“setId(id)”</strong> method). The shortcut path expression starts form <strong>”#”</strong> prefix that precedes an id value:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="c1">// found component in hierarchy by its id </span>
<span class="kd">var</span> <span class="nx">foundComp</span> <span class="o">=</span> <span class="nx">root</span><span class="p">.</span><span class="nx">byPath</span><span class="p">(</span><span class="s2">"#test"</span><span class="p">);</span>
</code></pre>
</div>

<p>Optionally path part can include property value filter that defines a property value traversing component have to match:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="c1">// find all visible labels component </span>
<span class="nx">root</span><span class="p">.</span><span class="nx">byPath</span><span class="p">(</span><span class="s2">"//zebkit.ui.Label[@isVisible=true]"</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">found</span><span class="p">)</span> <span class="p">{</span>
    <span class="p">...</span>
<span class="p">});</span>
</code></pre>
</div>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="c1">// find all labels component that defines id property</span>
<span class="nx">root</span><span class="p">.</span><span class="nx">byPath</span><span class="p">(</span><span class="s2">"//zebkit.ui.Label[@id]"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">foundComp</span><span class="p">)</span> <span class="p">{</span>
    <span class="p">...</span>
<span class="p">});</span>
</code></pre>
</div>

<p>XPath like expressions can be optionally used with other “zebkit.ui.Panel” API methods:</p>

<ul>
  <li><strong>properties(…)</strong> to apply the given properties set to UI components that match the passed xpath-like expression:</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>    <span class="c1">// Make visible all child text field components on ll level  </span>
    <span class="c1">// for the root  </span>
    <span class="nx">root</span><span class="p">.</span><span class="nx">properties</span><span class="p">(</span><span class="s2">"//zebkit.ui.TextField"</span><span class="p">,</span> <span class="p">{</span> <span class="na">visisble</span><span class="p">:</span> <span class="kc">true</span> <span class="p">});</span>
</code></pre>
</div>

<ul>
  <li><strong>on(…)</strong> and <strong>off(…)</strong>  to register or un-register events listener handler for UI components that match the passed xpath-like expression:</li>
</ul>

<div class="highlighter-rouge"><pre class="highlight"><code>    <span class="c1">// Register listener for all found button components </span>
    <span class="c1">// that are child of the root recursively  </span>
    <span class="nx">root</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s2">"//zebkit.ui.Button"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">button</span><span class="p">)</span> <span class="p">{</span>
        <span class="p">...</span>
    <span class="p">});</span>
</code></pre>
</div>

<h2 id="ui-component-metrics">UI Component metrics</h2>

<p><img src="/website/dark/public/images/comp.metrics.png" alt="ScreenShot" /></p>

<table class="info">
<tr><th>Metric</th><th>Description</th></tr>

<tr><td>
x,y<br />
setLocation(x,y) 
</td><td>
component coordinates relatively to its parent component  
</td></tr>

<tr><td>
width,height
<br />
setSize(w,h)  
</td><td>
component size and component size method setter
</td></tr>

<tr><td>
setBounds(x,y,w,h)    
</td><td>
component bounds (location and size) setter
</td></tr>

<tr><td>
getPreferredSize()<br />
setPreferredSize(w,h)
</td><td>
the size the component desires to have plus border and padding gaps. The getter method returns result as "{ width:intValue, height:intValue }" data structure. The "pure" preferred size of a component is calculated by its layout manager. Layout manager implements special "calcPreferredSize(comp)" method that does the calculation. The "pure" preferred size does not include border and padding gaps.
</td></tr>

<tr><td>
left,right,top,bottom,<br />
setPaddings(t,l,r,b)<br />
setPadding(p)
</td><td>
component paddings and appropriate setters to setup the paddings.
</td></tr>

<tr><td>
getLeft(),getRight()<br />
getTop(),getBottom()
</td><td>
calculated gaps as amount of padding and border gaps.
</td></tr>

<tr><td>
border.getLeft(),border.getRight()<br />
border.getTop(),border.getBottom()
</td><td>
border gaps if border is has been defined for the component
</td></tr>

</table>

<h2 id="component-validation">Component validation</h2>

<p>For the sake of performance UI component saves its state to avoid redundant preferred size calculation, repainting and lay outing. The state can be valid or invalid. Developer can check the component state by accessing <strong>“isValid”</strong> boolean property. The following methods allow developers to control a component state:</p>

<ul>
  <li><strong>invalidate()</strong> Call to invalidate a component metric and layout.</li>
  <li><strong>validate()</strong> Call to validate a component. Validation initiates the following actions:
    <ul>
      <li>Calculate component metrics (preferred size) if it is in invalid state. Developer can declare <strong>“recalc()”</strong> method in a UI component class that will be called every time the component metric has to be re-calculated. It supposed <strong>“recalc()”</strong> method should calculate some component specific metics that have influence to component preferred size.</li>
      <li>Lay outing children component if necessary</li>
      <li>Call <strong>“validate()”</strong> method for all children component</li>
    </ul>
  </li>
</ul>

<p>In most cases developers should not care to much about UI component validation and invalidation. Proper invalidation and validation is implemented in particular UI component basing on its specific implementation. UI Component API methods do validation and invalidation when it is necessary. Just use it as is with no extra thought regarding its internal implementation.</p>

</div>

    </div>


  </body>
</html>
