<!DOCTYPE html>
<html lang="en-us">

  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="viewport"
       content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="msapplication-tap-highlight" content="no">


    <title>
        
           &middot; Zebkit - UI platform
        
    </title>

  <!-- CSS -->


    <link rel="stylesheet" href="/website/dark/public/css/poole-dark.css">
    <link rel="stylesheet" href="/website/dark/public/css/syntax-dark.css">
    <link rel="stylesheet" href="/website/dark/public/css/main-dark.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=EB+Garamond">
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/website/dark/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/website/dark/public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <script type="text/javascript" src="/build/zebkit.js">  </script>

    <script type="text/javascript">
        zebkit.ui.config("theme", "dark");
    </script>
</head>



  <body>

    <div class="sidebar" style="padding: 0px;   border-right: 1px solid orange" >
    <div class="container sidebar-sticky" style="padding: 0px; margin: 0px;">
        <table style="height:100%;border-width: 0px; border-color: #151515;">
            <tr>
                <td colspan="2" align="center" style="border-width: 0px; margin: 0px; padding: 0px;">
                    <a href="../index.html">
                        <img style="margin: 0px; padding: 0px;" src="/website/dark/public/images/zebkit.logo.png" width="80%">
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-width: 0px;">
                    <p style="margin:0px; font-style: italic;"><b style='color:orange; font-size:1.5rem;'>Zebkit</b> is HTML5 Canvas based UI platform developed with unique EasyOOP JavaScript concept and rich extendible components set</p>
                </td>
            </tr>

            <tr style="height:100%;" valign="top" align="right">
                <td colspan="2" style="border-width: 0px;">
                    
                    
                        
                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item "
                               href="/website/dark/about.html">
                                Zebkit ?
                            </a>


                        
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                        
                        


                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item "
                               href="/website/dark/api.html">
                                API Doc
                            </a>


                        


                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item active"
                               href="/website/dark/docs.html">
                                Documentation
                            </a>


                        
                        
                            
                        
                            
                        
                            
                        
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                                <!--


                                -->
                            
                        
                            
                        
                            
                        
                        


                        
                        
                    
                        
                    
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        
                        
                    
                        
                        

                            
                            


                            <a class="sidebar-nav-item "
                               href="/website/dark/getstarted.html">
                                Get started
                            </a>


                        


                        
                        
                    
                </td>
            </tr>

            <tr style="height:90px;">
                <td colspan="2"  style="border-width: 0px;padding: 0px;"></td>
            </tr>

            <tr>
                <td align="right" colspan="2" style="border-width: 0px; border-top: 1px solid orange;">
                    <small><a href="mailto:ask@zebkit.org">Andrei Vishneuski (c), 2017</a></small>
                </td>
            </tr>

            <tr>
                <td colspan="2" valign="top" align="right" style="border-width: 0px;padding: 0px;">
                    <table style="width:240px;border-width: 0px; padding: 0px;" cellpadding="0" cellspacing="0">
                        <tr style="padding: 0px;" border="1">
                            <td style="width:60px;border-width: 0px;" align="right">
                                <a href="https://github.com/barmalei/zebkit" title="Download">
                                    <img alt="Download" title="Download" src="/website/dark/public/images/github3.png" width="40px" height="40px">
                                </a>
                            </td>
                            <td style="width:60px; border-width: 0px;" align="right">
                                <a href="https://twitter.com/zebkit">
                                    <img src="/website/dark/public/images/twitter.png" width="40px" height="40px">
                                </a>
                            </td>
                            <td style="width:60px; border-width: 0px;" align="right">
                                <a href="https://nl.linkedin.com/in/andrei-vishneuski-34b52514">
                                    <img src="/website/dark/public/images/linkedin.png" width="40px" height="40px">
                                </a>
                            </td>

                            <td style="width: 70px; border-width: 0px; " valign="center" align="right">
                                <a href="../build/zebkit.runtime.zip">
                                    <img src="/website/dark/public/images/download-dark.png" width="40px" height="40px">
                                </a>
                            </td>

                        </tr>
                    </table>
                </td>

            </tr>

        </table>

    <nav class="sidebar-nav">

<!--
      <a class="sidebar-nav-item" href="/website/dark/">Home</a>
 -->

    </nav>

  </div>
</div>

    <div class="content container">
      <div class="page">

    
        <h1 class="page-title"></h1>
    

    <p>The key root zebkit UI component is &quot;<strong>zebkit.ui.Panel</strong>&quot;. Every zebkit UI component is an instance of &quot;zebkit.ui.Panel&quot; class. This class unifies all existent zebkit components with common API, event handling, metrics and behavior. Even if you instantiate a zebkit HTML component it will be represented as an instance of &quot;zebkit.ui.Panel&quot; class.           </p>

<p>&quot;zebkit.ui.Panel&quot; is container, what means it can embeds other UI components as its children component. The children components are ordered with a alyout manager of the container has set.    </p>

<p>Zebkit UI application is hierarchy of ordered with layout managers UI components that are rendered on HTML5 Canvas. To start building an application layout you have to instantiate zebkit canvas component (&quot;zebkit.ui.zCanvas&quot;). The instance is either bound to existent HTML5 Canvas element or dynamically  creates HTML5 Canvas element in DOM tree:</p>
<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">zebkit</span><span class="p">.</span><span class="nx">require</span><span class="p">(</span><span class="s2">"ui"</span><span class="p">,</span> <span class="s2">"layout"</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">ui</span><span class="p">,</span> <span class="nx">layout</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// create HTML Canvas element where zebkit UI to host</span>
    <span class="c1">// zebkit UI components hierarchy </span>
    <span class="kd">var</span> <span class="nx">htmlCanvas</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">zCanvas</span><span class="p">(</span><span class="mi">500</span><span class="p">,</span> <span class="mi">400</span><span class="p">);</span>

    <span class="c1">// to place UI components use root layer of </span>
    <span class="c1">// created HTML canvas</span>
    <span class="kd">var</span> <span class="nx">root</span> <span class="o">=</span> <span class="nx">htmlCanvas</span><span class="p">.</span><span class="nx">root</span><span class="p">;</span>

    <span class="c1">// everything has to be ordered with rules</span>
    <span class="c1">// so specify layout manager </span>
    <span class="nx">root</span><span class="p">.</span><span class="nx">setLayout</span><span class="p">(</span><span class="k">new</span> <span class="nx">layout</span><span class="p">.</span><span class="nx">BorderLayout</span><span class="p">(</span><span class="mi">8</span><span class="p">));</span>

    <span class="c1">// add button zebkit component</span>
    <span class="nx">root</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s2">"bottom"</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">Button</span><span class="p">(</span><span class="s2">"Hello zebkit"</span><span class="p">));</span>    
    <span class="p">...</span>
</code></pre></div>
<p>Below is shown simple zebkit application that shows hierarchy of UI components:</p>

<table>
<tr><td markdown="1">
```bash
zebkit.ui.zCanvas
  +-root
     |
     +-zebkit.ui.Panel 
        |   (blue)
        |
        +- zebkit.ui.Label 
        |   ("Test Label")
        |
        +- zebkit.ui.Button 
        |   ("Test Button")
        |
        +- zebkit.ui.Panel 
            | (orange)
            |
            +-zebkit.ui.TextField
             ("Test Text Field")
```      
</td><td>
      

<table class="zsample" style="margin:0px;" cellpadding="0" cellspacing="0">
    <tr style="padding: 0px;margin: 0px;">
        <td valign="top" rowspan="2" style="left-padding: 8px; margin: 0px;">
            
        </td>
        <td align="center" valign="center" style="padding: 0px; margin: 0px;">
            <canvas id="layoutSample" style="padding: 0px; margin: 0px;"></canvas>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px; margin:0px;">
            <span style="color:red;font-size:14px;">Components hierarchy </span>
        </td>
    </tr>
</table>
                

<p></td></tr>
</table></p>

<script type="text/javascript">
zebkit.require("ui", "layout", function(ui, layout) {
    var p = new ui.Panel();
    p.setBorder(new zebkit.draw.Border("white", 2)); 
    p.setBounds(10,10, 380, 280); 
    p.setBackground("#3F76AA");    
                
    var l = new ui.Label("Test Label"); 
    l.setColor("white");
    l.setFont("bold");
    l.setBounds(10, 10, 360, 50); 
    p.add(l);                     
    var b = new ui.Button("Test Button"); 
    b.setBounds(10, 60, 270, 50); 
    p.add(b);                     
    var pp = new ui.Panel();  
    pp.setBounds(10, 120, 280, 250);
    pp.setBackground("orange");     
    p.add(pp);                    

    var tf = new ui.TextField("Test Text Field");
    tf.setBounds(10, 10, 200, 30);
    tf.toPreferredHeight();
    tf.setBorder(new zebkit.draw.Border("white"));
    pp.add(tf);

    new ui.zCanvas("layoutSample", 300, 400)
          .root
          .setLayout(new layout.BorderLayout())
          .add("center", p); 
});
</script>

<h2>UI Component metrics</h2>

<p><img src="/website/dark/public/images/comp.metrics.png" alt="ScreenShot"></p>

<table class="info">
<tr><th>Metric</th><th>Description</th></tr>

<tr><td>
x,y<br/>
setLocation(x,y) 
</td><td>
component coordinates relatively to its parent component  
</td></tr>

<tr><td>
width,height
<br/>
setSize(w,h)  
</td><td>
component size and component size method setter
</td></tr>

<tr><td>
setBounds(x,y,w,h)    
</td><td>
component bounds (location and size) setter
</td></tr>

<tr><td>
getPreferredSize()<br/>
setPreferredSize(w,h)
</td><td>
the size the component desires to have plus border and padding gaps. The getter method returns result as "{ width:intValue, height:intValue }" data structure. The "pure" preferred size of a component is calculated by its layout manager. Layout manager implements special "calcPreferredSize(comp)" method that does the calculation. The "pure" preferred size does not include border and padding gaps.
</td></tr>

<tr><td>
left,right,top,bottom,<br/>
setPaddings(t,l,r,b)<br/>
setPadding(p)
</td><td>
component paddings and appropriate setters to setup the paddings.
</td></tr>

<tr><td>
getLeft(),getRight()<br/>
getTop(),getBottom()
</td><td>
calculated gaps as amount of padding and border sizes.
</td></tr>

<tr><td>
getLeft(),getRight()<br/>
getTop(),getBottom()
</td><td>
border gaps
</td></tr>

</table>
 

<h2>UI Component as a container</h2>

<p>Zebra UI components are organized as hierarchy where every top level UI component can have 0 to N children UI components. To keep the hierarchy UI component API provides the following methods and fields:</p>

<table class="info">
<tr><th>Method or field</th><th>Description</th></tr>

<tr><td markdown="1">
_parent_
</td><td>
reference to parent component
</td></tr>

<tr><td markdown="1">
_kids_
</td><td> 
array of children UI components
</td></tr>

<tr><td markdown="1">
_add(component)_
</td><td>
add a new children component
</td></tr>

<tr><td markdown="1">
_add(constraints, component)_
</td><td>
add a new children component with the given constraint
</td></tr>

<tr><td markdown="1">
_set(constraints, component)_
</td><td>
re-set existing children UI component with the given constraints or add new one if there is not a kid with the specified constraints
</td></tr>

<tr><td markdown="1">
_insert(index, constraints, component)_
</td><td>
insert a new kid component at the given index and constraints
</td></tr>

<tr><td markdown="1">
_removeAt(index)_
</td><td> 
remove children component at the given index of "kids" array
</td></tr>

<tr><td markdown="1">
_remove(comp)_
</td><td>
remove the given children component
</td></tr>

<tr><td markdown="1">
_removeAll()_
</td><td>
remove all children components
</td></tr>

</table>

<p>Every UI component defines a layout manager to layout its children components. Layout manager is special class that:</p>

<ul>
<li><p>inherits <strong>&quot;zebkit.layout.Layout&quot;</strong> interface</p></li>
<li><p>Declare <strong>&quot;calcPreferredSize(comp)&quot;</strong> method to calculate component &quot;pure&quot; preferred size (the size that does not take in account border and padding gaps)</p></li>
<li><p>Declare <strong>&quot;doLayout(comp)&quot;</strong> method that knows how to place children components basing on some rules</p></li>
</ul>

<p>Layout manager is mandatory. If an UI component has not defined a layout manager a default one is taken. The default layout manager doesn&#39;t have any special rules to order children components. Actually it does nothing, what means component bounds (&quot;x&quot;, &quot;y&quot;, &quot;width&quot;, &quot;height&quot;) have effect.</p>

<h2>Component validation</h2>

<p>For the sake of performance UI component saves its state to avoid redundant preferred size calculation, repainting and lay outing. The state can be valid or invalid. Developer can check the component state by accessing <strong>&quot;isValid&quot;</strong> boolean property. The following methods allow developers to control a component state:</p>

<ul>
<li><p><strong>invalidate()</strong> Call to invalidate a component metric and layout.</p></li>
<li><p><strong>validate()</strong> Call to validate a component. Validation initiates the following actions:</p>

<ul>
<li>Calculate component metrics (preferred size) if it is in invalid state. Developer can declare <strong>&quot;recalc()&quot;</strong> method in a UI component class that will be called every time the component metric has to be re-calculated. It supposed <strong>&quot;recalc()&quot;</strong> method should calculate some component specific metics that have influence to component preferred size.</li>
<li>Lay outing children component if necessary</li>
<li>Call <strong>&quot;validate()&quot;</strong> method for all children component</li>
</ul></li>
</ul>

<p>In most cases developers should not care to much about UI component validation and invalidation. Proper invalidation and validation is implemented in particular UI component basing on its specific implementation. UI Component API methods do validation and invalidation when it is necessary. Just use it as is with no extra thought regarding its internal implementation.  </p>

</div>

    </div>


  </body>
</html>
