# Use PHP5 Single php.ini as default
<FilesMatch "\.(rb)$">
	Header set Access-Control-Allow-Origin *
	Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
	Header set Access-Control-Allow-Headers "Content-Type"
</FilesMatch>