<div class="sidebar" style="padding: 0px;   border-right: 1px solid orange" >
    <div class="container sidebar-sticky" style="padding: 0px; margin: 0px;">
        <table style="height:100%;border-width: 0px; border-color: #151515;">
            <tr>
                <td colspan="2" align="center" style="border-width: 0px; margin: 0px; padding: 0px;">
                {%if site.themeId == 'light' %}
                    <a href="../dark{{page.url}}.html">
                        <img style="margin: 0px; padding: 0px;" src="{{site.baseurl}}public/images/zebkit.logo.png" width="60%">
                    </a>
                {% else %}
                    <a href="../light{{page.url}}.html">
                        <img style="margin: 0px; padding: 0px;" src="{{site.baseurl}}public/images/zebkit.logo.png" width="60%">
                    </a>
                {% endif %}

                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-width: 0px;">
                    <p style="margin:0px; font-style: italic;">{{ site.description }}</p>
                </td>
            </tr>

            <tr style="height:100%;" valign="top" align="right">
                <td colspan="2" style="border-width: 0px;">
                    {% assign pages_list = site.pages %}
                    {% for node in pages_list %}
                        {% if node.title != null %}
                        {% if node.tags == "menu" %}

                            {% assign node_active = '' %}
                            {% if page.url == node.url %}
                                {% assign node_active = 'active' %}
                            {% else %}
                                {% if page.parent  %}
                                    {% if page.parent == node.id  %}
                                        {% assign node_active = 'active' %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}


                            <a class="sidebar-nav-item {{ node_active }}"
                               href="{{ site.baseurl|append:node.url|replace:'//','/'|append:'.html' }}">
                                {{ node.title }}
                            </a>


                        {% if node.id %}
                        {% for knode in pages_list %}
                            {% if knode.parent == node.id %}
                                {% if page.url == knode.url %}
                                    <a class="sidebar-nav-item {{ node_active }}"
                                       href="{{ site.baseurl|append:knode.url|replace:'//','/'|append:'.html' }}">
                                        <table cellpadding="0" cellspacing="0" style="padding: 0px;width:auto;margin:0px;">
                                       <!--
                                            <tr>
                                                <td colspan="2" style="padding: 0px;" align="right">
                                                    ┃
                                                </td>
                                            </tr>
                                        -->
                                            <tr>
                                                <td style="padding: 0px;">
                                                     {{ knode.title }}
                                                </td>
                                                <td style="padding: 0px;">
                                                   &nbsp;◀┛&nbsp;&nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% endif %}


                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>

            <tr style="height:90px;">
                <td colspan="2"  style="border-width: 0px;padding: 0px;"></td>
            </tr>

            <tr>
                <td align="right" colspan="2" style="border-width: 0px; border-top: 1px solid orange;">
                    <small><a href="mailto:ask@zebkit.org">Andrei Vishneuski (c), 2018</a></small>
                </td>
            </tr>

            <tr>
                <td colspan="2" valign="top" align="right" style="border-width: 0px;padding: 0px;">
                    <table style="width:240px;border-width: 0px; padding: 0px;" cellpadding="0" cellspacing="0">
                        <tr style="padding: 0px;" border="1">
                            <td style="width:60px;border-width: 0px;" align="right">
                                <a href="https://github.com/barmalei/zebkit" title="Download">
                                    <img alt="Download" title="Download" src="{{site.baseurl}}public/images/github3.png" width="40px" height="40px">
                                </a>
                            </td>
                            <td style="width:60px; border-width: 0px;" align="right">
                                <a href="https://twitter.com/zebkit">
                                    <img src="{{site.baseurl}}public/images/twitter.png" width="40px" height="40px">
                                </a>
                            </td>
                            <td style="width:60px; border-width: 0px;" align="right">
                                <a href="https://nl.linkedin.com/in/andrei-vishneuski-34b52514">
                                    <img src="{{site.baseurl}}public/images/linkedin.png" width="40px" height="40px">
                                </a>
                            </td>

                            <td style="width: 70px; border-width: 0px; " valign="center" align="right">
                                <a href="../build/zebkit.runtime.zip">
                                    <img src="{{site.baseurl}}public/images/download-{{site.themeId}}.png" width="40px" height="40px">
                                </a>
                            </td>

                        </tr>
                    </table>
                </td>

            </tr>

        </table>

    <nav class="sidebar-nav">

<!--
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
 -->

    </nav>

  </div>
</div>
