

<table class="zsample" style="margin:0px;" cellpadding="0" cellspacing="0">
    <tr style="padding: 0px;margin: 0px;">
        <td valign="top" rowspan="2" style="background-color: black; left-padding: 8px; margin: 0px;">
            {{ include.description }}
        </td>
        <td align="center" valign="center" style="background-color: black; padding: 0px; margin: 0px;">
            <canvas id="{{ include.canvas_id }}" style="padding: 0px; margin: 0px;"></canvas>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:0px; margin:0px;background-color: black;">
            <span style="color:red;font-size:14px;">{{ include.title }} </span>
        </td>
    </tr>
</table>
